body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important; /* stops mui from adding padding when opening a modal */
}

html {
  height: 100%;
  background-color: #FAFAFA;
  overflow-y: scroll !important; /* always show the scrollbar so the page doesn't shift */
}

html[data-theme='dark'] {
  height: 100%;
  background-color: #001E3C;
  overflow-y: scroll !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Manrope';
  src: local("Manrope"), url(./fonts/manrope-bold.woff2) format('woff2');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Manrope';
  src: local("Manrope"), url(./fonts/manrope-semibold.woff2) format('woff2');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Manrope';
  src: local("Manrope"), url(./fonts/manrope-medium.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Manrope';
  src: local("Manrope"), url(./fonts/manrope-regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}